.skills-container{
    width: 90vw;
    height: 70vh;
    position: absolute;
    z-index: 8;
    border-radius: 7px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-title{
    font-size: 25px;
    font-weight: bolder;
}
.skills-card{
    width: 300px;
    height: 100px;
    padding: 10px;
    .skills-card-content{
        color: rgb(230, 230, 230)
    }
    position: relative;
    z-index: inherit;
    background-color: rgba(68, 68, 68, 0.651);
}
.img-2{
    width: 90vw;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;
  }
  .img-cover-2 {
    width: 90vw;
    height: 70vh;
    background-color: rgb(52, 88, 85);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }