$off-white: #f7f7f7;
$main-font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$dark-grey: rgb(65, 65, 65);
$blue: rgb(101, 142, 230);
$red: rgb(233, 64, 115);
$smokewhite: rgb(226, 226, 226);
$black: rgb(32, 32, 32);

.bannerMain {
  top: 0;
  z-index: 0;
  .container {
    width: 100vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    align-self: start;
    justify-content: center;
    visibility: hidden;
  }
}
body {
  height: 100vh;
  background-color: rgb(18, 17, 26);
}
.img-container {
  width: 90vw;
  height: 70vh;
  top: 10%;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(18, 17, 26);
    z-index: 6;
  }
}
.img {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}
.img-cover {
  width: 100%;
  height: 70vh;
  background-color: rgb(52, 52, 88);
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.intro {
  color: white;
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 40px;
}
.main {
  position: absolute;
  z-index: 6;
  width: 60%;
  height: 90%;
  top: 10%;
  left: 40%;
  .nav {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}
.logo-container{
  width: 15%;
  height: 45%;
  position: absolute;
  top: 25%;
  left: 5%;
  padding-left: 50px;
  padding-top: 10px;
  background-color: rgba(33, 26, 63, 0.541);
  background-size: cover;
  background-position: top;
}
.intro-container {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-left: solid 5px rgba(214, 214, 214, 0.699);
  padding-left: 50px;
  top: 20%;
  position: absolute;
margin: 0 auto;
  .intro-line-2{
    font: 700 2.4rem"Oswald", sans-serif;
    color: rgb(255, 153, 0);
    font-size: 120px;
  }
  .intro-line-3{
    font-family: "oswald", sans-serif;
    color: rgba(255, 255, 255, 0.63);
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.footer-main {
  width: 80%;
  background-color: white;
  height: 20%;
}

.body-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  z-index: 9;
  top: 8;
  right: 10%;
  transform: translateX(100);
  transform-origin: bottom;
}
.info {
  overflow: hidden;
  font: 700 1.1em/1 "Oswald", sans-serif;
  width: 92px;
  height: 40px;
  margin: 20px;
  background: none;
  border: 0;
  padding: 0;
  color: white;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;

}
.info:hover{
  color: gray;
}
#hamburger{
  display: none;
}
@media (max-width: 1010px){
  .intro-content{
    font-size: 30px
  }
  .body-container{
    display: none;
  }
  .logo-container{
    display: none;
  }
  #hamburger{
    display: block;
    right: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 5;
    margin: 15px;
  }
}